.smallcaps {
  font-variant: small-caps !important;
}

.logo-atilla {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo-atilla img {
  width: 10vw;
}

.img-no-style {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.full-width {
  width: 100vw !important;
  margin-left: -25vw !important;
}

.large-text {
  font-size: 1.3em !important;
}

.reveal .footer {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.75em;
    width: 100%;
    text-align: center;
}